.text-outline {
  color: transparent; /* Make text fill transparent */
  -webkit-text-stroke: 2px white; /* Outline width + color */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}